<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Document Scanning System</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h2>
            Register
        </h2>
    </header>
    <section>
        <form action="/register" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <label for="role">Role:</label>
            <select name="role" id="role" required>
                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select>
            
            <button type="submit">Register</button>
            <a href="/login" style="text-decoration: none; margin-top: 25px; justify-items: center;">Login</a>
        </form>
    </section>
</body>
</html>
